body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 56px;
  }
  
  /* Navbar */
  .navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8f9fa;
  }
  
  /* About Section */
  .about-section {
    padding: 60px 0;
    margin-left: 50px;
  }
  
  .about-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ff4081;
  }
  
  .about-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff4081;
  }
  
  .about-content {
    margin-bottom: 30px;
  }
  
  .skills {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .skill {
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ff4081;
    border-radius: 10px;
  }
  
  .skill i {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ff4081;
  }
  
  /* Projects Section */
  .projects-section {
    padding: 60px 0;
    margin-left: 50px;
  }
  
  .projects-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #ff4081;
  }
  
  /* Contact Section */
  .contact-section {
    padding: 60px 0;
    margin-left: 50px;
  }
  
  .contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ff4081;
  }
  
  .contact-section p {
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-start;
  }
  
  /* Media Queries */
  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: #343a40;
    }
  }